.icon-48-eventss {
      background-image: url(../images/l_eventss.png);
      padding-left:60px!important;
}

.icon-48-events {
      background-image: url(../images/l_eventss.png);
      padding-left:60px!important;
}

