#articles .flex-control-nav li{
	margin-bottom: 10px !important;
}
#articles .flex-control-nav{
	z-index: 100;
	bottom: -40px !important;
}
#articles{
	position: relative;
	margin-bottom: 40px;
}
.flex-viewport li img{
	width: 100%;
}